@page "/sessions/details"
@using Microsoft.EntityFrameworkCore
@using Ceilufas.Models
@inject IDbContextFactory<Ceilufas.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Session</h2>
    <hr />
    @if (session is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">SessionCode</dt>
            <dd class="col-sm-10">@session.SessionCode</dd>
            <dt class="col-sm-2">SessionName</dt>
            <dd class="col-sm-10">@session.SessionName</dd>
            <dt class="col-sm-2">SessionNameAr</dt>
            <dd class="col-sm-10">@session.SessionNameAr</dd>
            <dt class="col-sm-2">StartDate</dt>
            <dd class="col-sm-10">@session.StartDate</dd>
            <dt class="col-sm-2">EndDate</dt>
            <dd class="col-sm-10">@session.EndDate</dd>
        </dl>
        <div>
            <a href="@($"/sessions/edit?id={session.Id}")">Edit</a> |
            <a href="@($"/sessions")">Back to List</a>
        </div>
    }
</div>

@code {
    private Session? session;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        session = await context.Sessions.FirstOrDefaultAsync(m => m.Id == Id);

        if (session is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
